@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  
  --color-primary: #0F9D8A;
  --color-primary-hover: #0B7F71;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;
  --color-border: #E5E7EB;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    @apply antialiased font-sans;
  }
}
